<!--=====================================================
=            SIDEBAR DE RESERVA
======================================================-->

<div class="reservation-box">
    <h3>
        Tu Reserva
    </h3>

    <p class="reservation-subtitle">
        Selecciona los servicios que deseas reservar.
    </p>
    <hr>
    <div id="reservationList">
        <div class="empty-reservation">
            <i class="bi bi-calendar-check"></i>
            <p>
                No has agregado servicios.
            </p>
        </div>
    </div>
    <hr>
    <div class="reservation-summary">
        <div>
            <span>
                Servicios
            </span>
            <strong id="serviceCount">
                0
            </strong>
        </div>
        <div>
            <span>
                Duración
            </span>
            <strong id="totalTime">
                0 min
            </strong>
        </div>

        <div>
            <span>
                Total
            </span>
            <strong id="totalPrice">
                $0
            </strong>
        </div>
    </div>

    <a href="{{ url_for('booking', id=salon.id) }}" class="btn-reserve w-100 mt-4 text-center text-decoration-none d-block">
        Continuar Reserva
    </a>

</div>